.tile {
    display: grid;
    place-content: center;
    height: 100px;
    width: 100px;
  }
  
  .checker-piece {
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80px;
  }
  .checker-piece:hover {
    cursor: grab;
  }
  .checker-piece:active {
    cursor: grabbing;
  }
  
  .black-tile {
    background-color: #c6c6c6;
  }
  
  .white-tile {
    background-color: #ffff;
  }